  <nav class="nav-extended">
    <div class="nav-wrapper green darken-4">
      <a href="#" class="brand-logo"><%= current_user.email %></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
      </ul>
    </div>
    <div class="nav-content green darken-3">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#wallets">Wallets</a></li>
        <li class="tab"><a href="#expenses">Expenses</a></li>
        <li class="tab disabled"><a href="#incomes">Incomes</a></li>
        <li class="tab"><a href="#debts">Debts</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
  </ul>

  <div id="wallets" class="col s12">
    <div class="row">
      <div class="col s7 m7 offset-m2 offset-s2">
        <div class="collection">
          <a href="#" class="collection-item wallet green lighten-1 white-text">
            <div>Наличне<div class="secondary-content white-text">30000</div></div>
          </a>

          <a href="#" class="collection-item wallet green lighten-1 white-text">
            <div>Карта Сбербанка<div class="secondary-content white-text">1503524.23</div></div>
          </a>

          <a href="#" class="collection-item wallet green lighten-1 white-text">
            <div>Карта Альфа<div class="secondary-content white-text">30000</div></div>
          </a>
        </ul>
      </div>
    </div>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>


  <div id="expenses" class="col s12">
    <div class="row">
      <div class="col s6 m6 offset-m3 offset-s3">
        <div class="collection">
          <a href="#" class="collection-item wallet green lighten-1 white-text">
            <div>На еду<div class="secondary-content white-text">30000</div></div>
          </a>

          <a href="#" class="collection-item wallet green lighten-1 white-text">
            <div>На еду<div class="secondary-content white-text">30000</div></div>
          </a>

          <a href="#" class="collection-item wallet green lighten-1 white-text">
            <div>На еду<div class="secondary-content white-text">30000</div></div>
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div id="incomes" class="col s12">Incomes</div>
  <div id="debts" class="col s12">Debts</div>
